.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.top-banner {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 80px; /* Adjust if needed */
  background: rgba(30, 30, 30, 0.6);
  backdrop-filter: blur(8px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  z-index: 1000;
}

.page-content {
  padding:40px;
  padding-top: 90px;
}

.user-info {
  position: fixed;
  top: 1rem;
  right: 1rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: #fff;
  padding: 0.5rem 0.75rem;
  z-index: 1000;
  background-color: transparent; /* explicitly transparent */
}

.user-avatar {
  width: 36px;
  height: 36px;
  border-radius: 50%; /* circular */
  object-fit: cover;
}

.user-name {
  font-weight: bold;
  font-size: 0.9rem;
}

.container {
  max-width: 800px;
  margin: 2rem auto;
  padding: 1rem;
}

.conversation-card {
  position: relative;
  background-color: #1e1e1e;
  border: 1px solid #333;
  border-radius: 8px;
  padding: 1rem;
  margin-bottom: 1rem;
  transition: transform 0.2s;
  line-height: 0.2;
}

.conversation-card:hover {
  transform: scale(1.01);
  
}

.conversation-type-badge {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background-color: #e0e0e0;
  color: #333;
  padding:0.5rem 0.5rem;
  border-radius: 5px;
  font-size: 0.75rem;
  font-weight: 600;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
  user-select: none;
}


.business-name {
  font-size: 30px;
  font-weight: bold;
  padding-bottom: 1px;
}


.delete-button {
  position: absolute;
  bottom:2px;
  right: 5px;
  background: none;
  border: none;
  cursor: pointer;
  filter: brightness(1.1);
}

.delete-button:hover .delete-icon {
  transform: scale(1.1);
  filter: brightness(1.2);
}

.delete-icon {
  width: 30px;
  height: 30px;
  transition: transform 0.2s ease, filter 0.2s ease;
}